/* Background styling for the whole contact section */
.contact_background {
    background-image: url("../../assets/campus3.png"); /* image */
    background-size: cover;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed during scroll or zoom */
    background-position: center; /* Centers the image */
    min-height: 100vh; /* Ensures it covers the full height of the viewport */
    padding-bottom: 20px;
}

/* styling for the "Contact Us" header */
.contact_header {
    text-align: center;
    font-size: 40px;
    color: #2C6485;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
} 

.contact_header h1 { 
    padding-top: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: relative; /* Ensures the text is above the background */
    z-index: 1; /* Keeps the text above the ::before element */
}



/* styling main container for the contact section (inner box layout) */
.contact_main {
    justify-content: space-between; 
    text-align: center;
    background-color: rgba(231, 235, 231, 0.8); /* background with 50% opacity */
    border-radius: 25px;
    padding: 50px;
    width: 75%;
    margin: 80px auto;
}


/* main body for aligning the contact columns */
.contact_body {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap:60px;
    height: 100%;
}

/* individual column styling */ 

.contact_column{
    flex: 1; /* Makes all columns take equal space */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: space-between; /* Distribute items across available space */
    padding: 10px;
}

.contact_column2 {
    width: 33%; /* Makes all columns take equal space */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: flex-start; /* Distribute items across available space */
    padding: 20px;
    gap: 25%;
}

 .text_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    line-height: 1.5;
    width: 100%;

 }

.contact_item {
    display: flex;
    gap: 15px;
    align-items: center;
}




/* heading styling inside each contact column */
.contact_column h3 {
    margin-top: 15px;
    font-size: 1.2em;
    
}



/* paragraph styling inside each contact column */
.contact_column p{
    font-size: .8em;
    margin-bottom: 80px;
    margin-top: 10px;
}

.contact_column2 p  {
    font-size: .8em;
}
/* styling for all icons */
.icon {
    width: 20%;
    height: auto;
}

a {
    text-decoration: none;
    color: #22303F;
}
a:hover {
    text-decoration: underline;
    color:#2C6485;
}



/* implementation and styling for smaller screens (phones)  */
@media (max-width: 800px) {

    /* layour changed a bit for layout on smaller screens */
    .contact_body {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
  
    /* columns take up more space for smaller screens */
    .contact_column{
      width: 90%;
      margin-bottom: 20px;
    }
  
  }