/* background of the page */
.sd_background_color {
  background-color: #dde9f1;
  padding-bottom: 100px;
}

/* Student Dashboard Header */
.sd_header {

  margin: 35px auto;
  margin-bottom: -70px;
  text-align: center;
  font-family: "Open Sans", "Comic Sans", sans-serif;
  font-size: 30px;
  color: #2c6485;
  background-color: #8fbfda;
  padding: 20px;
  padding-block: 40px;
  padding-bottom: 60px;
  width: 87%; /* Let the width adjust based on content */

}

/* Font of Header */
.sd_header h1 {
  font-family: "Open Sans", "Comic Sans", sans-serif;

}

/* Notification Header */
.sd_notification_header {
  
  margin: 35px auto;
  margin-top: 150px;
  margin-bottom: -70px;
  text-align: left;
  font-size: 30px;
  color: #2c6485;
  background-color: white;
  padding: 20px;
  padding-block: 40px;
  padding-bottom: 60px;
  width: 87%; /* Let the width adjust based on content */
  opacity: .85;
  
}

/* individual list element attributes */
.notifications  li{
  float: right;
  text-align: left;
  margin-left: 0px;
  padding-left: 2%;
  font-size: 90%;
  width: 100%;
}

.left_column {
  /* Left Column Attributes & Margin Spacing (Schedule Appt & Upcoming Appts) */
  margin-left: 50px;
  margin-top: 250px; /* Adjust spacing from the top */
  width: 400px; /* Fixed width for the left column */
  float: left;
  height: 700px;
}

.right_column {
  /* Right Column (Body) Attributes & Margin Spacing */
  margin-top: 150px; /* Align with the left column */
  margin-left: 500px; /* Create space between the left column */
  width: 67%;
  border-radius: 15px;
}

.line{
  border-top: 3px solid #000000;
  padding-bottom: 15px;
}


.sd_schedule_appt {

  border-radius: 15px;
  background-color: #22303F; 
  height: 70px;
  width: 100%;
  text-align: center;
  line-height: 70px;        /* align text to center of box */
  vertical-align: center;
  font-size: 32px;
  color: #FFFFFF;
}

.sd_schedule_appt:hover {
  background-color: #2c6485;
  color: white;
}

.sd_upcoming_appt {
  /* Upcoming Appt Rect Attributes */
  border-radius: 25px;
  background-color: #8fbfda;
  margin-top: 50px;

  height: 500px;
  text-align: center;
  font-size: 13.75px;
  font-family: "Open Sans", "Comic Sans", sans-serif;
  vertical-align: top;
  line-height: 50px;
  color: #000000;
  padding-top: 10px;
  text-decoration: underline;
}

.sd_body {
  /* Main Body Rect Attributes (Foreground) */

  align-items: start;
  height: 670px;
  display: flex;
  background-color: #2C6485;
  
  
}

/* Upcoming Appts List Attributes */


ul {
  font-size: 29px;
  padding: 0;
  overflow: hidden;
}

li .upcoming_appt_list{
  float: left;      /* orientation of list */
}

/* unused
li a {
  display: block;
  padding: 3px 7px
}
*/


.button {
  background-color: #2C6485; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.courses-btn.active {
  background-color: #394A56;
  color: white;
  border: none;
  border-radius: 0;
}

.history-btn.active {
  background-color: #394A56;
  color: white;
  border-radius: 0;
  border: none;
}

.button:hover {
  background-color: #394A56;
  color: white;
}


.button:focus {
  background-color: #394A56;
  color: white;
}

table, td, th {
  border-bottom: 1px solid;
}

table{
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
th{
  text-align: center;
  height: 70px;
  color: #FFFFFF;
  font-size: 25px;
  background-color: #22303f;
}
td{
  text-align: center;
  height: 70px;
  color: #FFFFFF;
  font-size: 30px;
  background-color: #2C6485;
  padding-left: 20px;
}
.sd_box {
  /* Main Body Rect Attributes (Minor Background) */
  
  align-items: center;
  height: 70px;
  display: flex;
  background-color: #22303f;
}
